<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">

	<!-- 设置扫描的包：扫描handler组件 -->
	<context:component-scan base-package="com.atguigu.survey.component" use-default-filters="false" >
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<!-- <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/> -->
	</context:component-scan>
	
	
	<!-- 
		public String toUpddateUI(){
			return "guest/user_updateUI"; //    /WEB-INF/guest/user_updateUI.jsp 
		}
	 -->
	<!-- 配置视图解析器：InternalResourceViewResolver -->
	<bean id="ViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!-- 配置mvc:default-servlet-handler 处理静态资源-->
	<!-- default-servlet-name="default" 默认值，可以省略。default值来自于Tomcat/conf/web.xml文件默认Servlet
		<servlet>
	       <servlet-name>default</servlet-name>
	       <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
	       	。。。
	   </servlet>
	 -->
	<mvc:default-servlet-handler default-servlet-name="default"/>
	<mvc:annotation-driven />
	
	<!-- 
		@RequestMapping("/guest/user/toRegistUI")
		public String toRegistUI(){
			return "guest/user_regist";
		}
	 -->
	 <!-- 可以不用通过控制器跳转页面，可以根据请求path和view-name来跳转页面；一般是跳转到/WEB-INF目录下的页面 -->
	<mvc:view-controller path="/guest/user/toRegistUI" view-name="guest/user_regist"/>
	<mvc:view-controller path="/guest/user/toLoginUI" view-name="guest/user_login"/>
	<mvc:view-controller path="/guest/survey/toSurveyUI" view-name="guest/survey_add"/>
	<mvc:view-controller path="/guest/survey/queryAllSurvey" view-name="guest/survey_queryAlllist"/>
	
	<mvc:view-controller path="/manager/admin/toMainUI" view-name="manager/manager_main"/>
	<mvc:view-controller path="/manager/admin/toLoginUI" view-name="manager/admin_login"/>
	
	<mvc:view-controller path="/manager/auth/toAddUI" view-name="manager/auth_addUI"/>
	<mvc:view-controller path="/manager/role/toAddUI" view-name="manager/role_addUI"/>
	<mvc:view-controller path="/manager/admin/toAddUI" view-name="manager/admin_addUI"/>
	
	
	<!-- 系统异常统一处理机制： -->
	<bean id="simpleMappingExceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<!-- <property name="exceptionAttribute" value="exp"></property> -->
		<property name="exceptionMappings">
			<props>
				<prop key="com.atguigu.survey.e.UserNameAlreadyExistsException">guest/user_regist</prop>
				<prop key="com.atguigu.survey.e.UserOperationForbiddenException">guest/user_login</prop>
				<prop key="com.atguigu.survey.e.FileTooLargeException">guest/survey_add</prop>
				<prop key="com.atguigu.survey.e.FileTypeErrorException">guest/survey_add</prop>
				<prop key="com.atguigu.survey.e.EditFileTooLargeException">guest/survey_edit</prop>
				<prop key="com.atguigu.survey.e.EditFileTypeErrorException">guest/survey_edit</prop>
				
				<prop key="com.atguigu.survey.e.DeleteSurveyException">error</prop>
				<prop key="com.atguigu.survey.e.DeleteBagException">error</prop>
				<prop key="com.atguigu.survey.e.BagOrderDuplicateException">guest/bag_adjust</prop>
				
				<prop key="com.atguigu.survey.e.BagEmptyException">error</prop>
				<prop key="com.atguigu.survey.e.QuestionEmptyException">error</prop>
				<prop key="com.atguigu.survey.e.UserLoginForbiddenException">guest/user_login</prop>
				<prop key="com.atguigu.survey.e.AdminLoginForbiddenException">manager/admin_login</prop>
				<prop key="com.atguigu.survey.e.AdminOperationForbiddenException">manager/admin_login</prop>
				
				<prop key="com.atguigu.survey.e.RemoveAuthFailedException">error</prop>
				<prop key="com.atguigu.survey.e.RemoveRoleFailedException">error</prop>
				<prop key="com.atguigu.survey.e.RemoveResFailedException">error</prop>
				
				<prop key="com.atguigu.survey.e.UserLoginNeededException">error</prop>
				<prop key="com.atguigu.survey.e.AdminLoginNeededException">error</prop>
				<prop key="com.atguigu.survey.e.HasNoAuthorityException">error</prop>
			</props>
		</property>
	</bean>
	
	<!-- 声明自定义拦截器： -->
	<mvc:interceptors>
		<bean id="webBinderInterceptor" class="com.atguigu.survey.interceptors.WebBinderInterceptor"></bean>
		<!-- <bean id="resInterceptor" class="com.atguigu.survey.interceptors.ResInterceptor"/>	 -->	
		<!-- <bean id="loginInterceptor" class="com.atguigu.survey.interceptors.LoginInterceptor"/> -->		
		<bean id="authorityInterceptor" class="com.atguigu.survey.interceptors.AuthorityInterceptor"></bean>
	</mvc:interceptors>
	
	<!-- 文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8"/>
	</bean>
	

</beans>
